---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SearchPostList from "../../islands/blog/SearchPostList";
import { getCollection } from "astro:content";
import { getAllCollections, collectionKeys, convertPostQueryToSearchLink } from '../../content/config.ts';
import { startCase } from 'lodash-es';

export async function getStaticPaths() {
  return collectionKeys.map((entry) => ({
    params: { coll: entry },
  }));
}

const collectionEntry = Astro.params.coll;
const posts = (await getCollection(Astro.params.coll)).map(convertPostQueryToSearchLink);
---

<BaseLayout title={`Postings - ${startCase(collectionEntry)}`}>
  <div class="p-4">
    <SearchPostList links={posts} client:only />
  </div>
</BaseLayout>
