---
import { uniq } from "lodash-es";
import { Show } from "solid-js";
import { getAllCollections, TBaseBlogPostSchema } from "../../../content/config";
import { SITE_TITLE } from "../../../config";
import DateTimeDisplay from "../../../islands/util/DateTimeDisplay";
import BaseLayout from "../../../layouts/BaseLayout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  return (await getAllCollections()).map((value) =>
    value[1].map((entry) => ({
      params: { coll: value[0], slug: entry.slug },
      props: { entry },
    }))
  );
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
  title = SITE_TITLE,
  subTitle = "",
  heroImage,
  description = "",
  showNavTitle = true,
  tags = [],
  publishDate = new Date(),
  updatedDate = new Date(),
} = (entry?.data ?? {}) as TBaseBlogPostSchema;

if (entry?.collection && tags.indexOf(entry.collection) < 0) {
  tags.push(entry.collection);
}

const digestedTags = uniq(tags.filter(Boolean)).map((t) => [t.trim(), `${Astro.url.origin}/blog?q[tag]=${t.trim()}`]);

const heroUrl = heroImage?.src?.startsWith("/") ? `${Astro.url.origin}${heroImage.src}` : heroImage.src;
let heroImageStyle = "";

if (heroImage.showHeroImage) {
  heroImageStyle = `background-image: url('${heroUrl}');`;
}
---

<style is:global>
  .article__title {
    text-shadow: #ffffff 1px 1px 1px;
  }

  .article__body .astro-code {
    width: 100%;
    display: inline-block;
    clear: both;
    float: left;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
</style>

<BaseLayout title={title} description={description} navTitle={title} showNavTitle={showNavTitle}>
  <div class="flex mt-2">
    <nav class="hidden lg:inline lg:w-1/4">
      <div class="border-r-2 border-color-gray-800"></div>
    </nav>
    <article class="md:w-5/6 lg:w-1/2 mx-2">
      <Show when={heroImageStyle.length}>
        <div
          class="hero-image block w-full h-96 bg-contain bg-origin-border border-b-2 border-color-gray-800 relative"
          title={heroImage?.alt ?? "Article's Hero Image"}
          style={heroImageStyle}
          role="banner"
        >
        </div>
      </Show>
      <header
        class="article__tile flex flex-row justify-start items-center text-white w-full px-2 h-16 bg-slate-800 sticky top-20 lg:top-1 z-20"
        role="heading"
      >
        <h1 class="title text-2xl text-white text-ellipsis overflow-hidden">
          {title}
        </h1>
        <Show when={subTitle}>
          <h2 class="title text-lg text-gray-500 ml-4 italic">
            {subTitle}
          </h2>
        </Show>
      </header>
      <div class="article__body p-1">
        <Content />
      </div>
    </article>
    <aside class="hidden md:inline md:w-1/6 lg:w-1/4">
      <ul class="sticky text-md top-20 pl-2 py-8 border-l-2 border-color-gray-800">
        <li>
          <span class="font-bold">Publish Date:</span>
          <DateTimeDisplay datetime={publishDate} includeTime={true} client:only />
        </li>
        <Show when={updatedDate && !Number.isNaN(updatedDate)}>
          <li>
            <span class="font-bold">Updated Date:</span>
            <DateTimeDisplay datetime={updatedDate} client:only />
          </li>
        </Show>
        <li class="flex flex-row gap-2">
          <span class="font-bold">Tags:</span>
          <ul class="italic flex flex-row list-none p-0 m-0 gap-1">
            {
              digestedTags.length &&
                digestedTags.map(([text, url]) => (
                  <li>
                    <a class="italic text-cyan-600 active:text-cyan-400" href={url}>
                      {text}
                    </a>
                  </li>
                ))
            }
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</BaseLayout>
