---
import Header, { HeaderProps } from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export type BaseLayoutProps = HeaderProps & {
  title?: string;
  description?: string;
  navTitle?: string;
  showNavTitle?: boolean;
};
const props: Partial<BaseLayoutProps> = Astro.props;
const blogTitle = props.title && props.length ? props.title : SITE_TITLE;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={blogTitle} description={props.description ?? SITE_DESCRIPTION} />
  </head>
  <body class="relative">
    <div class="w-full sticky top-0 left-0 z-10">
      <Header title={props.title} />
    </div>
    <main class="bg-white color-gray-400 pb-16 md:mr-48 w-full min-h-screen">
      <slot />
    </main>
    <div class="w-full absolute bottom-0 left-0 z-10">
      <Footer />
    </div>
  </body>
</html>
