---
/// * deprecated in favor of new slug with v2
import BaseLayout from "./BaseLayout.astro";

export interface BlogPostProps {
  content: {
    title?: string;
    description?: string;
    pubDate: string;
    updatedDate?: string;
    heroImage?: string;
    heroAltImage?: string;
    tags?: string;
  };
}

const { title, description, heroImage, heroImageAlt, showNavTitle, tags } = Astro.props.content;
const pubDate = Astro.props.content.publishDate;
const updatedDate = new Date(Astro.props.content.updatedDate);
const isUpdateDateValid = !Number.isNaN(updatedDate.valueOf());
const heroImageStyle = heroImage
  ? `background-image: url('${heroImage}');`
  : "";
const digestTags = (tags ?? "")
  .trim()
  .split(/[,|\|]/)
  .join(", ");

let showHeroImage = false;
if (heroImage?.length) {
  const res = await fetch(heroImage);
  showHeroImage = res.ok;
}
---
<style is:global>
  .article__title {
    text-shadow: #white 1px 1px 1px;
  }

  .article__body .astro-code {
    width: 100%;
    display: inline-block;
    clear: both;
    float: left;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
</style>

<BaseLayout
  title={title}
  description={description}
  navTitle={title}
  showNavTitle={showNavTitle}
>
  <div class="flex mt-2">
    <nav class="hidden lg:inline lg:w-1/4">
      <div class="border-r-2 border-color-gray-800"></div>
    </nav>
    <article class="md:w-5/6 lg:w-1/2 mx-2">
      {
        showHeroImage && (
          <div
            class="hero-image block w-full h-96 bg-contain bg-origin-border border-b-2 border-color-gray-800 relative"
            title={heroImageAlt ?? "Article's Hero Image"}
            style={heroImageStyle}
            role="banner"
          />
        )
      }
      <div
        class="article__title flex text-white w-full px-2 h-16 bg-slate-800 sticky top-20 lg:top-1 z-20"
        role="heading"
      >
        <h1
          class="title text-2xl text-white w-[75%] my-auto text-ellipsis overflow-hidden"
        >
          {title}
        </h1>
        <time class="my-auto pt-1 pr-1"
          >Published: {pubDate}
        </time>
      </div>
      <div class="article__body p-1">
        <slot />
      </div>
    </article>
    <aside class="hidden md:inline md:w-1/6 lg:w-1/4">
      <ul class="sticky top-20 pl-2 py-8 border-l-2 border-color-gray-800">
        <li>
          <span class="font-bold">Publish Date:</span>
          <span class="italic">{pubDate.toLocaleDateString()}</span>
        </li>
        {
          isUpdateDateValid && (
            <li>
              <span class="font-bold">Updated Date:</span>
              <span class="italic">{updatedDate}</span>
            </li>
          )
        }
        <li>
          <span class="font-bold">Tags:</span>
          <span class="italic text-fuchsia-400"
            >{!!digestTags.length ? " " + digestTags : "-"}
          </span>
        </li>
      </ul>
    </aside>
  </div>
</BaseLayout>
