---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
  <main class="grid grid-cols-1 place-items-center h-screen">
    <section class="block text-center  p-6 rounded-4 ">
      <h1 class="text-gray-800 text-4xl mb-4 text-red-400">
        Page Not Found
      </h1>
      <a href="/">
        <a class="text-2xl">Go back home?</a>
      </a>
    </section>
  </main>
</BaseLayout>
