---
import BaseLayout from "../layouts/BaseLayout.astro";
import { collectionKeys, privateCollectionKeys } from '../content/config';
import { For } from "solid-js";

const collections = collectionKeys.filter((collection) => !privateCollectionKeys.includes(collection));
---

<BaseLayout title={"Postings"}>
  <article class="flex flex-col md:w-1/4 mx-auto">
    <h1 class="text-2xl mt-20">Blog Collections</h1>
    <p class="text-xl">A list of all the collections of blog posts collections.</p>
    <ul class="list-disc pl-5">
      {collections.map((l, i) => (
        <li key={"coll-link-" + i} >
          <a href={"/blog/" + l} class="text-xl text-cyan-600 hover:text-cyan-400 underline">{l}</a>
        </li>
      ))}
    </ul>
  </article>
</BaseLayout>
