---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchPostList from "../islands/blog/SearchPostList";
import { getCollection } from "astro:content";
import { getAllCollectionPosts, collectionKeys, privateCollectionKeys, convertPostQueryToSearchLink } from "../content/config";
import { startCase } from "lodash-es";

const sections = collectionKeys.filter(i => !privateCollectionKeys.includes(i));
const links = (await Promise.allSettled(
  sections.map(i => getCollection(i))
))
  .flatMap(post => post.value)
  .reduce((a, post, i) => {
    if (post.data.draft) return a;
    a.push(convertPostQueryToSearchLink(post));
    return a;
  }, []);
---

<BaseLayout>
<div class="p-4">
  <SearchPostList title={"Posts"} links={links} client:only />
</div>
</BaseLayout>
