---
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/img/profile.png" } = Astro.props;
const isProd = import.meta.env.MODE === "production";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/ico" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />


<link rel="sitemap" href="/sitemap-index.xml" />

{
  false && (
    <script
      defer
      data-domain="detailedghost.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
  )
}
