---
const todayYear = new Date().getFullYear();
---

<footer
  aria-label="Footer"
  aria-roledescription="Main blog's footer description section"
  class="w-full bg-gray-800 relative flex flex-row p-4 text-white"
>
  <span class="copyright ml-auto text-sm">
    &copy; {todayYear} Dante "Detailedghost" Burgos, All rights reserved.
  </span>
</footer>
