---
import NavbarLink from "./NavbarLink";
import { getNavLinks } from "../lib/routes";
const { url } = Astro;
export interface HeaderProps {}
---

<style>
  .img {
    background-image: url("/img/profile-alt.png");
    background-size: 5rem;
  }
  .img:hover {
    background-position-x: -0.5rem;
    background-size: 5.5rem;
    left: 0;
  }
</style>

<header class="bg-gray-800 relative flex flex-row p-2">
  <a href="/">
    <span
      class="img w-14 h-14 block bg-origin-border bg-left-top bg-repeat-none border-2 border-color-white rounded-full transition-all ease-in duration-100"
      title="Go home"
      aria-controls="home"
    >
    </span>
  </a>
  <nav class="ml-4 mt-2" role="navigation" aria-label="Main">
    {
      getNavLinks(url).map((item: [URL, string]) => (
        <NavbarLink href={item[0].href} isActive={item[0].href === url.href}>
          {item[1]}
        </NavbarLink>
      ))
    }
  </nav>
</header>
